
<div class="container">
    <div class="blogMainWrapper blogPostMainWrapper">
        <div class="container-fluid blog-container blog-post-body">
            <section class="blog-post-section">
                <div class="row">
                    <div class="col-md-3 left-column" height="">
                        <div class="box related-topics-box">
                            <h4 class="heading">Treanding Technologies</h4>
                            <a class="link js-blog-related-topic" href="">
                                <div class="fx-topic-wrapper">
                                    <img class="topic-img">
                                    <p class="topic-name">DevOps</p>
                                </div>
                            </a>
                            <a class="link js-blog-related-topic" href="">
                                <div class="fx-topic-wrapper">
                                    <img class="topic-img">
                                    <p class="topic-name">Data Science</p>
                                </div>
                            </a>
                            <a class="link js-blog-related-topic" href="">
                                <div class="fx-topic-wrapper">
                                    <img class="topic-img">
                                    <p class="topic-name">Hadoop</p>
                                </div>
                            </a>
                            <a class="link js-blog-related-topic" href="">
                                <div class="fx-topic-wrapper">
                                    <img class="topic-img">
                                    <p class="topic-name">ReactJs</p>
                                </div>
                            </a>
                            <a class="link js-blog-related-topic" href="">
                                <div class="fx-topic-wrapper">
                                    <img class="topic-img">
                                    <p class="topic-name">Wordpress</p>
                                </div>
                            </a>
                            <a class="link js-blog-related-topic" href="">
                                <div class="fx-topic-wrapper">
                                    <img class="topic-img">
                                    <p class="topic-name">AI</p>
                                </div>
                            </a>
                            <a class="link js-blog-related-topic" href="">
                                <div class="fx-topic-wrapper">
                                    <img class="topic-img">
                                    <p class="topic-name">Selenium</p>
                                </div>
                            </a>
                            <a class="link js-blog-related-topic" href="">
                                <div class="fx-topic-wrapper">
                                    <img class="topic-img">
                                    <p class="topic-name">AWS</p>
                                </div>
                            </a>
                            <a class="link js-blog-related-topic" href="">
                                <div class="fx-topic-wrapper">
                                    <img class="topic-img">
                                    <p class="topic-name">Cloud</p>
                                </div>
                            </a>
                                <a class="link js-blog-related-topic" href="">
                                    <div class="fx-topic-wrapper">
                                        <img class="topic-img">
                                        <p class="topic-name">Git</p>
                                    </div>
                                </a>
                            
                        </div>
                    </div>
                </div>
            </section>
            <section class="blog-post-section">
                <div class="row">
                    <div class="col-md-3 left-column" height="">
                        <div class="box related-topics-box">
                            <h4 class="heading">Recommended Learning</h4>
                            <a class="link js-blog-related-topic" href="">
                                <div class="fx-topic-wrapper">
                                  <p class="text"> "30 days to learn HTML + CSS Courses"
                                    <span class="text-light">(youtube.com)</span></p>
                                </div>
                            </a>
                            <a class="link js-blog-related-topic" href="">
                                <div class="fx-topic-wrapper">
                                  <p class="text"> "Build Responsive Real World Websites with HTML5 and CSS3 "
                                    <span class="text-light">(udemy.com)</span></p> 
                                </div>
                            </a>
                            <a class="link js-blog-related-topic" href="">
                                <div class="fx-topic-wrapper">
                                 <p class="text">   "Dive Into HTML5 by Mark Pilgrim "
                                    <span class="text-light">(amazon.com)</span></p> 
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    
    <div class="col-md-9 right-column">
    <h3>{{title}}</h3>
    <div class="body-main">
        <div class="img">
        <img src="assets\large.png">
    
   
<div class="main-body">
    <p>Many of the students who appear for the job of HTML have specific concerns as to what can be asked
    of them during the interview. We have made efforts to put an end to their concerns by gathering the top 
    HTML Interview questions that are most likely to be asked during the interviews. These questions are 
    associated with the most appropriate answers, which can help you showcase your high level of knowledge
     about the subject. It is advised to go through these questions before you appear in the interview so 
     that you could sharpen your abilities to respond quickly to the interviewer and gain his respect 
      preference over other applicants.</p>

        <div class="que">
            <h2 class="">Top HTML Interview Questions and Answers</h2>
            <p>The following are the top HTML interview questions and answers that are picked from the various
            uestions that were asked to the HTML interviewee by well-reputed company personnel.</p>
            <h5 class="question">Question: What is HTML</h5>
            <p class="answer"><b>Answer:</b> HTML stands for HyperText Markup Language. It is the language used 
                for WWW or World Wide Web. HTML is a standard text formatting language that creates and displays a
                 variety of pages on the web.</p>

            <h5 class="question">Question: What constitutes HTML?</h5>
            <p class="answer">HTML constitutes mainly two components. The first component is the content, and 
                the second component is the tag. Both these components help in the proper display of pages with 
                the required information for the web surfers.</p>
                
                <h5 class="question">Question: Define HTML tags?</h5>
                <p class="answer"><b>Answer:</b> HTML tags help in placing the contents in the proper and most 
                    appropriate format. It makes extensive use of symbols such as less than or < or higher than 
                    or > signs to place the appropriate content on the specific portion of the web page. The use
                     of the slash or / symbol is also made as a closing tag.</p>

                     <h5 class="question">Question: Are these HTML tags applied in pairs?</h5>
                     <p><b>Answer: </b>No. The HTML tags are not always applied in pairs because, in some cases,
                          there is no need for the closing tag. For instance, in the case of images, the
                           closing tags are not required as <img> tag.</p>
                           
                      <h5 class="question">Question: Define the standard list that is referred to while designing a page?</h5>
                       <p class="answer"><b>Answer:</b> The standard list that is referred to while designing a page includes any or 
                        combination of the below stated.
                        
                        Menu list.
                        Directory list.
                        Ordered list.
                        Unordered list.
                        Definition list.
                    </p> 
                    <h5 class="question">Question: What is the primary function of these lists?</h5>
                      <p class="answer"> <b>Answer: </b>The primary function of these lists is to make use of different kinds of tags
                         that could be set to compose.</p>
                         
                         <h5 class="question">Question: Can we insert a comment in HTML?</h5>
                           <p class="answer"><b>Answer:</b> Yes, we can insert a comment in HTML by beginning with a lesser than sign
                             and ending with a greater than sign. For instance, “<!--and -->.”</p> 

                             <h5 class="question">Question: What is white space?</h5>
                             <p class="answer">  Answer: White space is the empty sequence of space characters. This white 
                                space is considered as a single space character in the HTML.</p>

                                <h5 class="question">Question: What is the purpose of a style sheet?</h5>
                                   <p class="answer"> <b>Answer: </b>A style sheet helps in creating a well-defined template that is both consistent 
                                    as well as transportable. These style sheet templates can be linked to various web pages,
                                     which makes it easier to main and change the look of the web page.</p> 

                                     <h5 class="question">Question: Define the Canvas element?</h5>
                                     <p class="answer"> <b>  Answer:</b> A Canvas element supports the creation of charts, graphs, and bypasses Photoshop. It could help 
                                        the creation of 2D images that can directly be placed through the HTML5 code. </p>
        </div>   
</div>
</div>
</div>
</div>
</div>
<!--footer-->

        
<footer class=" text-center text-lg-start" style="border-top:1px solid;">
    <!-- Copyright -->
    <div class="footer" style=" margin:15px;">
      © 2021 Copyright:
      <a class="text-dark" href="">Tutorial</a>
      <div class="nav-footer">
        <ul class="footer-list">
            <li class="list1">About</li>
            <li class="list1">Contact</li>
        </ul>
    </div>
    </div>
    
    <!-- Copyright -->
  </footer>